.i1{
    background-image: url("1.jpeg");
    background-size: 500px;
    background-repeat: no-repeat;
    border: 5px red dotted;
}
.i2{
    background-image: url("2.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 50px;
    border: 1px blue solid;
}
.i3{
    background-image: url("3.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    border: 10px green solid;
}
.i4{
    background-image: url("4.jpeg");
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 50px;
    border: 2px royalblue dashed;
}
.i5{
    background-image: url("5.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    border: 5px red solid;
}
.i6{
    background-image: url("6.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 50px;
    border: 15px black double;
}
.i7{
    background-image: url("7.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    border: 1px green solid;
}
.i8{
    background-image: url("8.jpeg");
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 50px;
    border: 5px blue dotted;
}
.i9{
    background-image: url("9.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    border: 4px red solid;
}
.i10{
    background-image: url("10.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 50px;
    border: 1px black dotted;
}

div{
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 15px 5px;
    box-shadow: 15px 17px 15px 2px #000000;
}